[flake8]
# Errors (E) or warnings (W) to ignore
ignore = E121,E123,E126,E226,E24,E704,W503,W504

# Comma-separated list of errors and warnings to enable.
select = E,F,W,C90

# Maximum allowed line length for the entirety of this run. (Default: 79)
max-line-length = 79
